{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="flex justify-center text-brown my-6">
        <div class="flex flex-col">    
            <div >
                <h1 class="text-center text-3xl mb-3">Inscription</h1>
            </div>
            <div>
                {{ form_start(registrationForm) }}
                    <fieldset class="mb-3"> 
                        <legend class="text-2xl">Votre identité</legend> 
                        <div class="">
                            {{ form_row(registrationForm.name, {
                                label: 'Nom'
                            }) }}
                        </div>
                        <div>
                        {{ form_row(registrationForm.email, {
                            label: 'Email'
                        }) }}
                        </div>
                        <div>
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Mot de passe'
                        }) }}
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend class="text-2xl">Notre confidentialité</legend> 
                        {{ form_row(registrationForm.ConsentementRGPD) }}
                    </fieldset>

                    <button type="submit" class="rounded-full bg-green text-white">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>    
    </section>
{% endblock %}
