{# NAVBAR FONCTIONNELLE #}
<nav
  class=" flex w-full flex-nowrap items-center justify-between  py-4 text-brown shadow-lg hover:text-green focus:text-brown lg:flex-wrap lg:justify-start"
  data-te-navbar-ref>
  <div class="flex w-full flex-wrap items-center justify-between px-6">
    <button
      class="block border-0 bg-transparent py-2 px-2.5 text-brown hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 lg:hidden"
      type="button"
      data-te-collapse-init
      data-te-target="#navbarSupportedContent3"
      aria-controls="navbarSupportedContent3"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="[&>svg]:w-7">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-7 w-7">
          <path
            fill-rule="evenodd"
            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
            clip-rule="evenodd" />
        </svg>
      </span>
    </button>
    {# Mots cles de la navbar #}
    <div
      class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto"
      id="navbarSupportedContent3"
      data-te-collapse-item>
      {# partie GAUCHE de la nav avec les elements accueil et programmes #}
      <ul
        class="list-style-none mr-auto flex flex-col pl-0 lg:flex-row"
        data-te-navbar-nav-ref>
        <li class="lg:px-2" data-te-nav-item-ref>
          <a
            class="active disabled:text-brown lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
            aria-current="page"
            href="{{ path('app_home')}}"
            data-te-nav-link-ref
            >Accueil</a
          >
        </li>
        <li class="lg:pr-2" data-te-nav-item-ref>
          <a
            class="p-0 text-brown hover:text-green focus:text-brown disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
            href="{{ path('app_box')}}"
            data-te-nav-link-ref
            >Box</a
          >
        </li>
        <li class="lg:pr-2" data-te-nav-item-ref>
          <a
            class="p-0 text-brown hover:text-green focus:text-brown disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
            href="{{ path('app_home')}}"
            data-te-nav-link-ref
            >A propos</a
          >
        </li>
      </ul>
{# partie droite de la nav avec les elements inscription et connexion #}
      <ul
        class="list-style-none mr-auto flex flex-col pl-0 lg:flex-row"
        data-te-navbar-nav-ref>
        {% if app.user %}
        <li class="lg:px-2" data-te-nav-item-ref>
          <a
            class="active disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
            aria-current="page"
            href="#"
            data-te-nav-link-ref
            >Mon compte</a
          >
        </li>
        <li class="lg:pr-2" data-te-nav-item-ref>
          <a
            class="p-0 text-brown hover:text-green focus:text-brown disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
            href="{{ path('app_logout')}}"
            data-te-nav-link-ref
            >Me déconnecter</a
          >
        </li>
        {% else %}
        <li class="lg:pr-2" data-te-nav-item-ref>
          <a
            class="p-0 text-brown hover:text-green focus:text-brown disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
            href="{{ path('app_login')}}"
            data-te-nav-link-ref
            >Me connecter</a
          >
        </li>
        <li class="lg:pr-2" data-te-nav-item-ref>
          <a
            class="p-0 text-brown hover:text-green focus:text-brown disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
            href="{{ path('app_register')}}"
            data-te-nav-link-ref
            >M'inscrire</a
          >
        {% endif %}  
        </li>
      </ul>
      
    </div>

  </div>
</nav>





{# Navbar pour test des liens #}
{# <nav class="
    relative
    w-full
    flex flex-wrap
    items-center
    justify-between
    py-4
    bg-white
    text-brown
    hover:text-green
    shadow-lg
    <!-- navbar navbar-expand-lg navbar-light -->
    ">
    <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6 md:text-xl">
        <div class="flex ">
          <ul class="flex">
            <li>
              <a class="" href="{{ path('app_home')}}">Accueil</a>
            </li>
            <li>
              <a class="" href="{{ path('app_programme')}}">Programme</a>
            </li>
          </ul>
        </div>

        <div >
          <ul class="flex">
            {% if app.user %}
              <li> 
                <a class="" href="#">Mon compte</a>
              </li>
              <li> 
                <a class="" href="{{ path('app_logout')}}">Me déconnecter</a>
              </li>
            {% else %}
              <li> 
                <a class="" href="{{ path('app_login')}}">Me connecter</a>
              </li>
              <li> 
                <a class="" href="{{ path('app_register')}}">M'inscrire</a>
              </li>
            {% endif %}  
          </ul>
        </div>
        
    </div>
  </nav> #}